/* Style the whole page */
* {
    font-family: arial;
    font-size: 30px;
}

/*style the navigation list within the header*/
header > ul > li { 
    display: initial;
    float: right;
    margin-right: 2%;
 }

 /*style the navigation text*/
a {
    color: white;
    text-decoration: none;
 }

 /*style the position of the list*/
 header > ul {
    margin-top: 4%; 
 }

 /*styles the header and adds an image*/
 header {
    background-attachment: fixed;    
    background-image: url("../img/laptop.jpg"); 
    background-position: 50%;   
    height: 130px;
    overflow: hidden;
 }

/*style for text for the equipment*/
label, .checkbox {
    font-size: 12px;
}

/*style for formatting of the text within the footer*/
.section_1, .section_2, .section_3, .bottom {
    float: left;
    height: 25px;
    width: 30%;
}

.bottom {
    margin-bottom: 1%;
}

.checkbox_wrapper {
    width: 100%;
}
/* 
.text_area input[type="text"], input[type=date] { 
    float: right;
    margin-right: 70%;
    width: 300px;
    font-size: 17px;
} */

/*style for the footer*/
footer {
    float: bottom;
    margin-right: 2%;
    margin-top: 10%;
    text-align: right;
}

/*style for text within the footer*/
footer > a {
    font-size: 30px;
}