/*style the whole page*/
* {
    font-family: arial;
    font-size: 30px;
}

/*style the body and gives form a margin*/
body {
    margin: 1em;
}

/*style the navigation list within the header*/
header > ul > li { 
    display: initial;
    float: right;
    margin-right: 2%;
 }

 /*style the navigation text*/
a {
    color: white;
    text-decoration: none;
 }

 /*style the position of the list*/
 header > ul {
    margin-top: 4%; 
 }

 /*styles the header and adds an image*/
 header {
    background-attachment: fixed;    
    background-image: url("../img/laptop.jpg"); 
    background-position: top;   
    height: 130px;
    overflow: hidden;
 }

/*style for text for the equipment*/
.checkbox {
    font-size: 12px;
}

/*stlye for the collection details*/
label {
    font-size: 15px;
    margin: 1px;
}

/*styles text within input boxes*/
input[type="text"], input[type="date"], input[type="time"] {
    font-size: 15px;
}

input[type="submit"] {
    background-color: inherit;
    border-radius: 12px;
    cursor: pointer;
    padding: 4px 6px;
}

/*style for formatting of the checkboxes*/
.section_1, .section_2, .section_3, .bottom {
    float: left;
    height: 25px;
    width: 30%;
}

/*styles the bottom row of checkboxes*/
.bottom {
    margin-bottom: 1%;
}

/*styles checkbox wrapper*/
.checkbox_wrapper {
    width: 100%;
}

.submit {
    border-radius: 12px;
    color: brown
}

/*styles media for mobile device*/
@media (max-width: 400px) { 
    header {
        height: 30%;
    }

    h1 {
        margin: 10px;
    }

    a {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .section_1, .section_2, .section_3, .bottom {
        width: 100%;
    }

    label {
        text-align: center;
    }

    legend {
        font-size: 20px;
    }
}