/*style the whole page*/
* {
    font-family: arial;
    font-size: 1.2em;
}

body {
    background-attachment: fixed;    
    background-image: url("../img/laptop.jpg");
    background-size: cover;
}

section {
    background-color: aliceblue;
    margin-left: 7em;
    margin-right: 7em;
    opacity: 0.9;
}

/*style the heading NO PERCENTAGE */
h1 {
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
}

/*style the list of headings*/
h2 { 
    margin-bottom: 0.2em;
    text-align: center; 
 }

/*style the links*/
a {
    color: black;
    text-decoration: none;
}

/*style for text gdpr*/
.gdpr {
    font-size: 0.9em;
    margin-left: 9em;
}

/*styles media for mobile devide*/
@media (max-width: 400px) { 
    * {
        padding: 0%;
    }  

    ul {
        padding: 0%;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        margin-bottom: 30px;
    }

    a {
        font-size: 30px;
    }

    a.gdpr{
        font-size: 20px;
        margin-left: 30%;
    }

    section {
        margin: 7px;
        margin-top: 35%;
    }
}