/*style the whole page*/
* {
    font-family: arial;
    font-size: 60px;
}

body {
    background-attachment: fixed;    
    background-image: url("../img/laptop.jpg");
    background-size: cover;
}

/*style the heading NO PERCENTAGE */
h1 {
    font: bold;
    font-size: 1.2em;
    margin-top: 7%;
    text-align: center;
}

/*style the list of headings*/
h2 { 
    margin-bottom: 2%;
    text-align: center; 
 }

/*style the links*/
a {
    color: white;
    text-decoration: none;
}


/*style for the footer*/
.gdpr {
    padding-bottom: 10px;
    text-align: right;
}

/*style for text within the footer*/
footer > a {
    font-size: 30px;
}
