/*styles the whole page */
* {
    font-family: arial;
    font-size: 30px;
}

/*styles the list within the header*/
header > ul > li { 
    display: initial;
    float: right;
    margin-right: 2%;

}

/*style the navigation text*/
a {
    color: white;
    text-decoration: none;
}

/*style the position of the list*/
header > ul {
    margin-top: 4%; 
}

/*styles the header*/
header {
    background-attachment: fixed;    
    background-image: url("../img/laptop.jpg"); 
    background-position: 50%;  
    height: 130px;
    overflow: hidden;
}

/*style the tab*/
.tab {
    background-color: white;
    border: 1px solid rgba(236, 254, 255, 0.925);
    overflow: hidden;
}
  
/*style the buttons that are used to open the tab content*/
.tab button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/*change background color of buttons on hover*/
.tab button:hover {
    background-color: rgb(230, 247, 255);
}
  
/*creates an active/current tablink class*/
.tab button.active {
    background-color: #ccc;
}
  
/*style the tab content and hides inactive tab*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
  
/*style for the footer*/
footer {
    float: bottom;
    margin-right: 2%;
    margin-top: 10%;
    text-align: right;
}

/*style for text within the footer*/
footer > a {
    font-size: 30px;
}

/*style for the table*/
table, th, tr {
    border: 1px solid black;
}